*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h3{
    background-color: rgb(1, 20, 37);;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size:35px;
}
.choice{
    height: 160px;
    width: 160px;
    gap: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
     height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 20px;
}
.choices{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.choice:hover{

    cursor: pointer;
    background-color: black;
}
.scoreboard{
 display: flex;
 justify-content: center;
 align-items: center;
  margin-right: 60px;
  
}
.score{
    margin: 20px;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 80px;
    font-size: 20px;
    
}
#msg{
 
    background-color: black;
    color: aliceblue;
    height: 50px;
    line-height: 50px;
    display: inline;
   font-size: 20px;
   padding: 10px;
   border-radius: 10px;
}
#user-score,#comp-score{
    font-size: 40px;
}