*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: black;
    color: aliceblue;
    height: 50px;
    line-height: 50px;
    margin-bottom: 80px;

}
.cell{
    height: 80px;
    width: 80px;
    border:2px solid black;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.scoreBoard{
     display: flex;
       justify-content: center;
    align-items: center;
   
    
}
.score{
         margin: 30px;
         font-size: 20px;
}
#userScore,#compScore{
    font-size: 30px;
}
.cell:hover{
      opacity: 0.3;
}
.msg-container{
    display: inline-block;
    margin-top:30px ;
    font-size: 28px;
    background-color: black;
    color: aliceblue;
    height: 20px;
    line-height: 20px;
    padding: 8px;
    border-radius: 10px;
}
.edit{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
